## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import matplotlib.pyplot as plt
import numpy as np

# Import API key
from config import g_key

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("C:/Users/prana/OneDrive/Desktop/Weather_Database/weather_data/WeatherPy_Database.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Sabang,ID,2022-11-20 17:04:58,5.8933,95.3214,81.63,78,100,17.81
1,1,Nyurba,RU,2022-11-20 17:04:59,63.2842,118.3319,-20.42,100,70,3.87
2,2,Jamestown,US,2022-11-20 17:02:58,42.0970,-79.2353,23.72,76,100,14.97
3,3,Talnakh,RU,2022-11-20 17:04:59,69.4865,88.3972,-16.22,95,96,4.45
4,4,San Vicente De Canete,PE,2022-11-20 17:05:00,-13.0751,-76.3835,70.68,69,66,8.68
...,...,...,...,...,...,...,...,...,...,...
672,672,Hamilton,US,2022-11-20 17:18:58,39.1834,-84.5333,31.21,38,0,5.75
673,673,Sulangan,PH,2022-11-20 17:23:07,11.1373,123.7228,82.09,78,70,7.29
674,674,Hailar,CN,2022-11-20 17:23:08,49.2000,119.7000,2.39,92,5,7.76
675,675,Jizan,SA,2022-11-20 17:23:08,17.3333,42.6667,85.14,69,11,3.33
676,676,Birao,CF,2022-11-20 17:23:09,10.2849,22.7882,79.16,21,29,5.93

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp=float(input("Please enter the minimum temperature you prefer for your destination location."))
max_temp=float(input("Please enter the maximum temperature you prefer for your destination location."))

Please enter the minimum temperature you prefer for your destination location.65
Please enter the maximum temperature you prefer for your destination location.85

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_city_df=city_data_df.loc[(city_data_df["Max Temp"]>= min_temp)&
                                  (city_data_df["Max Temp"]<= max_temp)]
preferred_city_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Sabang,ID,2022-11-20 17:04:58,5.8933,95.3214,81.63,78,100,17.81
4,4,San Vicente De Canete,PE,2022-11-20 17:05:00,-13.0751,-76.3835,70.68,69,66,8.68
8,8,Rikitea,PF,2022-11-20 17:05:02,-23.1203,-134.9692,71.44,74,93,11.07
9,9,Kavaratti,IN,2022-11-20 17:05:02,10.5669,72.6420,80.65,58,10,3.15
10,10,Kapaa,US,2022-11-20 17:01:04,22.0752,-159.3190,74.12,90,18,3.00
...,...,...,...,...,...,...,...,...,...,...
666,666,Imbituba,BR,2022-11-20 17:23:05,-28.2400,-48.6703,76.66,65,26,21.59
667,667,Ibra,OM,2022-11-20 17:23:06,22.6906,58.5334,72.90,46,0,4.00
669,669,Hit,IQ,2022-11-20 17:22:30,33.6416,42.8251,65.86,48,0,10.42
673,673,Sulangan,PH,2022-11-20 17:23:07,11.1373,123.7228,82.09,78,70,7.29
676,676,Birao,CF,2022-11-20 17:23:09,10.2849,22.7882,79.16,21,29,5.93

In [5]:
# 4a. Determine if there are any empty rows.
if preferred_city_df.isnull().values.any()==True:
    print("Empty rows present in the Preferred City List")

Empty rows present in the Preferred City List

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
if preferred_city_df.isnull().values.any()==True:
    preferred_city_df=preferred_city_df.dropna()
clean_travel_cities=preferred_city_df

In [17]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_travel_cities[["City", "Country", "Date","Lat", "Lng", "Max Temp","Humidity","Cloudiness","Wind Speed"]].copy()

# 5b. Create a new column "Hotel Name" and will set it to have'None' populated for the column initially
hotel_df["Hotel Name"] = None
hotel_df.head(10)

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Hotel Name
0,Sabang,ID,2022-11-20 17:04:58,5.8933,95.3214,81.63,78,100,17.81,None
4,San Vicente De Canete,PE,2022-11-20 17:05:00,-13.0751,-76.3835,70.68,69,66,8.68,None
8,Rikitea,PF,2022-11-20 17:05:02,-23.1203,-134.9692,71.44,74,93,11.07,None
9,Kavaratti,IN,2022-11-20 17:05:02,10.5669,72.6420,80.65,58,10,3.15,None
10,Kapaa,US,2022-11-20 17:01:04,22.0752,-159.3190,74.12,90,18,3.00,None
11,Porto Novo,BJ,2022-11-20 17:05:03,6.4965,2.6036,81.73,78,84,9.78,None
15,Kampong Thum,KH,2022-11-20 17:05:05,12.7111,104.8887,72.95,98,100,5.46,None
19,Vaini,TO,2022-11-20 17:05:07,-21.2000,-175.2000,76.44,73,100,5.66,None
20,Coahuayana,MX,2022-11-20 17:05:07,18.7333,-103.6833,84.69,58,96,2.55,None
22,Atuona,PF,2022-11-20 17:01:03,-9.8000,-139.0333,77.34,72,29,11.16,None

In [11]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat=row["Lat"]
    lng=row["Lng"]
    #Add latitudes and longitudes to the location key to the params dictonary
    params["location"]=f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    
    base_url= "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels=requests.get(base_url, params=params).json()  
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index,"Hotel Name"]=hotels["results"][0]["name"]
    except (IndexError):
        print(f"Hotel not found... skipping.{index}")

Hotel not found... skipping.93
Hotel not found... skipping.188
Hotel not found... skipping.285
Hotel not found... skipping.295
Hotel not found... skipping.296
Hotel not found... skipping.328
Hotel not found... skipping.339
Hotel not found... skipping.410
Hotel not found... skipping.436
Hotel not found... skipping.460
Hotel not found... skipping.462
Hotel not found... skipping.517
Hotel not found... skipping.572
Hotel not found... skipping.676

In [12]:
hotel_df.head()

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Hotel Name
0,Sabang,ID,2022-11-20 17:04:58,5.8933,95.3214,81.63,78,100,17.81,Hotel Citra
4,San Vicente De Canete,PE,2022-11-20 17:05:00,-13.0751,-76.3835,70.68,69,66,8.68,Hotel Konford
8,Rikitea,PF,2022-11-20 17:05:02,-23.1203,-134.9692,71.44,74,93,11.07,People ThankYou
9,Kavaratti,IN,2022-11-20 17:05:02,10.5669,72.6420,80.65,58,10,3.15,Green leaf
10,Kapaa,US,2022-11-20 17:01:04,22.0752,-159.3190,74.12,90,18,3.00,Sheraton Kauai Coconut Beach Resort

In [14]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df=hotel_df.dropna()
clean_hotel_df

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Hotel Name
0,Sabang,ID,2022-11-20 17:04:58,5.8933,95.3214,81.63,78,100,17.81,Hotel Citra
4,San Vicente De Canete,PE,2022-11-20 17:05:00,-13.0751,-76.3835,70.68,69,66,8.68,Hotel Konford
8,Rikitea,PF,2022-11-20 17:05:02,-23.1203,-134.9692,71.44,74,93,11.07,People ThankYou
9,Kavaratti,IN,2022-11-20 17:05:02,10.5669,72.6420,80.65,58,10,3.15,Green leaf
10,Kapaa,US,2022-11-20 17:01:04,22.0752,-159.3190,74.12,90,18,3.00,Sheraton Kauai Coconut Beach Resort
...,...,...,...,...,...,...,...,...,...,...
662,Corinto,GR,2022-11-20 17:23:04,37.9407,22.9573,71.89,78,99,4.72,Ephira Hotel
666,Imbituba,BR,2022-11-20 17:23:05,-28.2400,-48.6703,76.66,65,26,21.59,Praia Hotel Imbituba
667,Ibra,OM,2022-11-20 17:23:06,22.6906,58.5334,72.90,46,0,4.00,مزرعة راحة النفوس المنزفة
669,Hit,IQ,2022-11-20 17:22:30,33.6416,42.8251,65.86,48,0,10.42,المعلق حسان رزاق
673,Sulangan,PH,2022-11-20 17:23:07,11.1373,123.7228,82.09,78,70,7.29,Maia's Beach Resort

In [15]:
# 8a. Create the output File (CSV)
output_data_file = "C:/Users/prana/OneDrive/Desktop/Weather_Database/Vacation_Search/WeatherPy_Vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [18]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
Hotel Name
    {Hotel Name}
City Name
    {City}
Country
    {Country}
Maximum temperature
    {Max Temp}
Cloudiness
    {Cloudiness}
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [19]:
# 11a. Add a marker layer for each city to the map. 
fig=gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
marker_layer=gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))